<%- include('./partials/head.ejs') %>

<title>Register</title>
</head>

<body>
    <header>
      <%- include('./partials/header.ejs') %>
    </header>
    <main>
      <section>
        <h1><%= title %></h1>

        <form action="/submit" method="post">
          <div>
            <label for="firstname">First Name</label><br>
            <input type="text" name="name" id="firstname" required>
          </div>
          <br>
          <div>
            <label for="age">Age</label><br>
            <input type="text" name="age" id="age" required>
          </div>
          <br>
          <div>
            <label for="gender">Gender</label><br>
            <input type="text" name="gender" id="gender" required>
          </div>
          <br>
          <div>
            <fieldset>
              <legend>Genres</legend>
              <% genres.forEach((genre) => { %>
              <input type="checkbox" name="genres" value="<%= genre %>" id="<%= genre %>">
              <label for="<%= genre %>"><%= genre %></label><br>
              <% }) %>
            </fieldset>
          </div>
          <br>
          <div>
            <label for="submit"></label>
            <input type="submit" name="submit" id="submit">
          </div>

        </form>
      </section>

      <script src="/public/js/script.js"></script>
    </main>  
  </body>
  </html>

