<%- include('./partials/head') %>

    <title>Homepage</title>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
   
    <h1><%= title %></h1>

    <% users.forEach(function (user) { %>
        <h2><%= user.name %></h2>
        <p><a href="/users/<%= user.name %>">Meer info</a></p>
    <% }) %>

</body>
</html>